.infogroup {
    margin: 0;
    padding: 0;
    padding-left: 4px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.infogroup-title {
    width: 35%;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.infogroup-description {
    white-space: normal;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 65%;
}
