.nothing-group {
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nothing-group__image {
    width: 102px;
    height: 102px;
}

.nothing-group__header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.nothing-group__body {
    white-space: normal;
    -unity-text-align: upper-center;
    width: 80%;
    margin-top: 0;
    padding-top: 0;
}
