.dropdown-scroller {
    border-radius: 4px;
    background-color: var(--btn-primary-base);
    padding: 8px 0;
    position: absolute;
    top: auto;
}

.dropdown-item {
    background-color: var(--color-transparent);
    border-radius: 0;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}

.dropdown-item:hover {
    background-color: var(--btn-primary-focus);
}
